* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fafafc;
  color: #777;
  display: flex;
  justify-content: center;
}

p {
  font-weight: 200;
  font-size: 14px;
}

.app {
  width: 90vw;
}

.search-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}

.surprise {
  background-color: #ececf1;
  color: #000;
  border-radius: 5px;
  font-weight: 600;
  padding: 4px 12px;
  margin: 0 0 2px 5px;
}

.input-container {
  width: 100%;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
}

.input-container input {
  border: none;
  padding: 13px 14px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  width: 90%;
  font-weight: 200;
}

.input-container input::placeholder {
  color: #cacaca;
  font-weight: 200;
}

.input-container button {
  width: 10%;
  border: none;
  border-left: #cacaca 1px solid;
  background-color: #fff;
  color: #777;
  font-weight: bold;
  cursor: pointer;
}

.input-container button:active {
  background-color: #cacaca;
}

.image-section{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  align-items: stretch;
  justify-content: space-between;
}

.image-section img{
  margin:1px;
  min-width:250px;
  max-width: 33%;
  flex-grow: 1;
}

.extra-info{
  text-align: center;
}

@media (max-width:556px){
  .image-section img{
    max-width: 100%;
  }
}